<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> chain </title>
</head>
<body>
    {% include 'index.html' %}
    <div>
        <p>chain length:</p>
        <p>{{ length }}</p>
    </div>
   
    
    <table>
        <caption> chain table </caption>
        <thead>
            <tr>
                <th>index</th>
                <th>timestamp</th>
                <th>transactions</th>
                <th>proof</th>
                <th>previous_hash</th>
            </tr>
        </thead>
        <tbody>
            {% for block in chain %}
            <tr>
                <td>{{block.index}}</td>
                <td>{{block.timestamp}}</td>
                <td>{{block.transactions}}</td>
                <td>{{block.proof}}</td>
                <td>{{block.previous_hash}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    
    <div>
        
    </div>
</body>