<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> new transaction </title>
    <style>
        .message {
            width:600px;
            text-align: center;
            margin: 0 auto;
        }
        form {
            width:600px;
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    {% include 'index.html' %}
    {% if message %}
    <div class="message">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    {% if form %}
    <form method="POST">
        <div>
            {{ form.node.label() }}
            <div>{{ form.node(type="text",size="50") }}</div>
        </div>
        <div>
            <div>
                {{ form.submit() }}
            </div>
        </div>
    </form>
    {% endif %}
</body>