<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> new transaction </title>
    <style>
        .message {
            width:600px;
            text-align: center;
            margin: 0 auto;
        }
        form {
            width:600px;
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    {% include 'index.html' %}
    {% if message %}
    <div class="message">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <table>
        <caption> chain table </caption>
        <thead>
            <tr>
                <th>index</th>
                <th>timestamp</th>
                <th>transactions</th>
                <th>proof</th>
                <th>previous_hash</th>
            </tr>
        </thead>
        <tbody>
            {% for block in chain %}
            <tr>
                <td>{{block.index}}</td>
                <td>{{block.timestamp}}</td>
                <td>{{block.transactions}}</td>
                <td>{{block.proof}}</td>
                <td>{{block.previous_hash}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
</body>